.box{
    height: 60px;
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.selected{
    /* border: 1px solid red; */
    box-shadow: 0 6px 10px rgba(0,0,0,0.2), 0 0px 15px rgba(0,0,0,0.2);
}